.red {
    color: red;
}

body {
    border: 0;
    background-color: rgb(168, 207, 157);
}

div.document {
    background-image: none;
    background-repeat: none;
}

div.footer {
    padding-top: 20px;
    background-color: rgb(168, 207, 157);
}

.wrapper {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 0px;
    grid-auto-rows: minmax(200px, auto);
    background-color: rgb(168, 207, 157);
    border: 0;
}
.hero {
    grid-column: 1 / 4;
    grid-row: 1 / 3;
    background-color: rgb(231, 242, 229);
    margin-top: 80px;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 80px;
    padding: 20px 80px 20px 80px;
    border-radius: 25px;
    font-size: larger;
}
.infobox {
    background-color: rgb(231, 242, 229);
    padding: 10% 20% 10px 20%;
    margin: 10px;
    border-radius: 25px;
    text-align: center;
}
.infobox h2 {
    vertical-align: middle;
}
.grid1 {
    grid-column: 1;
    grid-row: 3;
}
.grid2 {
    grid-column: 2;
    grid-row: 3;
}
.grid3 {
    grid-column: 3;
    grid-row: 3;
}
.grid4 {
    grid-column: 1;
    grid-row: 4;
}
.grid5 {
    grid-column: 2;
    grid-row: 4;
}
.grid6 {
    grid-column: 3;
    grid-row: 4;
}
.grid7 {
    grid-column: 1;
    grid-row: 5;
}
.grid8 {
    grid-column: 2;
    grid-row: 5;
}
.grid9 {
    grid-column: 3;
    grid-row: 5;
}