pytest
pytest-cov
# datalad   # this dependency is covered by conda (environment_testing.yml)
scipy>=1.0.0
pyedflib
h5py
igor
klusta
tqdm
nixio
matplotlib
ipython
coverage
coveralls
pillow
sonpy
pynwb
probeinterface
