name: NeoCoreTest

on:
  pull_request:
    branches: [master]
    types: [synchronize, opened, reopened, ready_for_review]
    paths:
      - 'neo/core/**'
      - 'pyproject.toml'
      - '.github/workflows/*.yml'

  # run checks on any change of master, including merge of PRs
  push:
    branches: [master]

concurrency: # Cancel previous workflows on the same pull request
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  multi-os-python-numpy:
    runs-on: ${{ matrix.os }}

    strategy:
      fail-fast: true
      matrix:
        os: ["ubuntu-latest", "windows-latest"]
        # "macos-latest",
        python-version: ['3.8', '3.9', '3.10', '3.11']
        numpy-version: ['1.20.3', '1.21.6', '1.22.4', '1.23.5', '1.24.1', '1.25.1']
        exclude:
           - python-version: '3.8'
             numpy-version: '1.25.1'
           - python-version: '3.10'
             numpy-version: '1.20.3'
           - python-version: '3.11'
             numpy-version: '1.20.3'
           - python-version: '3.11'
             numpy-version: '1.21.6'
    steps:
        - name: Set up Python ${{ matrix.python-version }}
          uses: actions/setup-python@v4
          with:
            python-version: ${{ matrix.python-version }}

        - name: Checkout repository
          uses: actions/checkout@v3

        - name: Install numpy ${{ matrix.numpy-version }}
          run: |
            python -m pip install --upgrade pip
            pip install numpy==${{ matrix.numpy-version }}
            pip install pytest pytest-cov
            pip install .

        - name: List pip packages
          run: |
            pip -V
            pip list

        - name: Run tests
          run: |
            pytest --cov=neo neo/test/coretest
